{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% if user.is_authenticated %}
  {% if h_analysis.count > 0 %}
    {% for analysis in h_analysis %}
        <ol class="list-group" data-aos="fade-up" data-aos-delay="200">
          <li class="list-group-item">User:{{user.username}}</li>
          <li class="list-group-item">Search Time:{{analysis.created_at}}</li>
          <li class="list-group-item">Searched Subreddit:{{analysis.topic}}</li>
        </ol>
    {% endfor %}
  {% else %}
    <div class="container" data-aos="fade-up" data-aos-delay="200" >
      <div class="jumbotron">
            <h3>No search record in your database.</h3>
      </div>
    </div>

  {% endif %}
{% endif %}
{% endblock %}
