{% extends "base.html" %}
{% load static %}
<script type="text/javascript" src="{% static 'js/misc/popper.min.js' %}"></script>
<script type="text/javascript" src="js/core/jquery.min.js"></script>
<script type="text/javascript" src="js/core/bootstrap.min.js"></script>
<script type="text/javascript" src="js/core/bootstrap-toggle.min.js"></script>

<script type="text/javascript" src="js/joystick/underscore-min.js"></script>
<script type="text/javascript" src="js/joystick/backbone-min.js"></script>
<script type="text/javascript" src="js/joystick/joystick_view.js"></script>

<script src="js/core/jquery.min.js"></script>
<script src="js/plugins/jquery.appear.min.js"></script>
<script src="js/plugins/jquery.countTo.min.js"></script>
<script src="js/plugins/jquery.easypiechart.min.js"></script>
<script src="js/ares.js"></script>


{% block content %}
{% endblock %}
