<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Social Media Analysis Project</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-toggle.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-digital-trend.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" role='navigation' id='navbar'>
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'analysis:analysis_home' %}" class="nav-link">Search</a></li>
                <li class="nav-item"><a href="{% url 'analysis:history' %}" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">Log Out</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="{% url 'accounts:signup' %}" class="nav-link">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</nav>
<div class="container mycontent">

    {% block content %}
    {% endblock %}

</div>
<canvas id="canvas"></canvas>
</body>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:;
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="footer" data-toggle="appear" data-class="animated fadeIn" data-timeout="1000">
    2021 &copy; <a class="link-sf" href="https://github.com/BmErucar/SWE573">Source Code</a>
</div>

</body>
</html>
</html>